<footer class="footer clearfix hidden-sm-down">
    <div class="float-xs-left footer-content">
        <img class="footer-logo" [src]="logo" alt="Willis Towers Watson">
        <a class="footer-link" href="#">Terms of Service</a>
        <a class="footer-link" href="#">Privacy and Cookies</a>
        <a class="footer-link" href="#">Support</a>
    </div>
    <div class="float-xs-right">
        <small class="footer-copyright">Copyright &copy; 2018 Willis Towers Watson. All rights reserved</small>
    </div>
</footer>
<footer class="footer clearfix hidden-md-up">
    <!-- <div class="float-xs-left footer-content">
        <ul>
            <li><img class="footer-logo" [src]="logo" alt="Willis Towers Watson"></li>
            <li><a class="footer-link" href="#">Privacy and Cookies</a></li>
            <li><a class="footer-link" href="#">Support</a></li>
        </ul>
    </div> -->
    <div class="float-xs-left footer-content">
        <img class="footer-logo" [src]="logo" alt="Willis Towers Watson" /><br>
        <a class="footer-link" href="#">Terms of Service</a><br>
        <a class="footer-link" href="#">Privacy and Cookies</a><br>
        <a class="footer-link" href="#">Support</a>
    </div>
    <div class="text-xs-right">
        <small class="footer-copyright">Copyright &copy; 2018 Willis Towers Watson. All rights reserved</small>
    </div>
</footer>