<div class="col-md-12 margin-top">
    <div class="modal fade search-modal" id='showConfirmationModal' tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" arialabel="Close">
              <span ariahidden="true">&times;</span>
            </button>
            <h4 class="modal-title">{{confirmationModal.headerMessage}}</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                  <div class="col-md-12 p-top-bottom">
                      {{confirmationModal.bodyMessage}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary margin-set-left" style="margin-right:6px" data-dismiss="modal" name="noButton" (click)="onNo()">No</button>
            <button type="button" class="btn btn-primary margin-set-right" style="margin-right:6px" data-dismiss="modal" name="yesButton" (click)="onYes()">Yes</button>
          </div>
        </div>
      </div>
    </div>
  </div>