<div id="downstreamLossForm" *ngIf="!readOnlyFlag">
  <div class="row divClassNew hidden-sm-down">
    <div class="col-md-4">
      <h4 class='display-3 top-margin'>Downstream Loss</h4>
    </div>
    <div class="col-md-8">
      <button class="btn btn-secondary float-xs-right btn-top-margin" (click)="onBackToHistory()">Back to History</button>
      <button class="btn btn-secondary float-xs-right btn-top-margin">Reset</button>
    </div>
  </div>
  <div class="divClassNew hidden-md-up">
    <div class="col-sm-12">
      <button class="btn btn-secondary btn-top-margin btn-mob-width" (click)="onBackToHistory()">Back to History</button>
      <button class="btn btn-secondary btn-mob-width">Reset</button>
    </div>
  </div>
  <div class="row divClassNew hidden-md-up terms-bottom-margin">
    <div class="col-sm-12 mob-shift">
      <h4 class='display-3'>Downstream Loss</h4>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card card-block bg-software-gray-1">
      <p class="card-text">
        Please use this sheet to provide new or updated information for the WTW Energy Losses Database. Only Losses in excess of
        $1,000,000 from groundup qualify.
        <br>
        <br>NOTE: The name of the Assured and/or the facility (rig, platform, plant etc.) does not appear in the online database
        but is very helpful in avoiding duplications and is essential for windstorm losses.
        <br>
        <br>If the exact date of loss is not known, please select the nearest Date and month and also mention in the notes
      </p>
    </div>
  </div>
  <div class="div-border">
    <div class="margin-top">
      <div class="col-md-4">
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <th>Loss Date: &nbsp; &nbsp; &nbsp;Day
                </th>
                <td>
                  <select class="form-control">
                    <option></option>
                    <option *ngFor="let cat of downStreamLossData[0].day">{{cat}}</option>
                  </select>
                </td>
              </tr>
              <tr class="hidden-md-up">
                <th>Loss Month
                </th>
                <td>
                  <select class="form-control">
                    <option></option>
                    <option *ngFor="let cat of downStreamLossData[0].month">{{cat}}</option>
                  </select>
                </td>
              </tr>
              <tr class="hidden-md-up">
                <th>Loss Year
                  <span style='color:red;'> *</span>
                </th>
                <td>
                  <select class="form-control">
                    <option></option>
                    <option *ngFor="let cat of downStreamLossData[0].year">{{cat}}</option>
                  </select>
                </td>
              </tr>
              <tr>
                <th>Category 1
                  <span style='color:red;'> *</span>
                </th>
                <td>
                  <select class="form-control">
                    <option></option>
                    <option *ngFor="let cat of downStreamLossData[0].category1">{{cat.name}}</option>
                  </select>
                </td>
              </tr>
              <tr>
                <th>Land / Offshore
                  <span style='color:red;'> *</span>
                </th>
                <td>
                  <select class="form-control">
                    <option>Select</option>
                    <option *ngFor="let cat of downStreamLossData[0].LandOffshore">{{cat.name}}</option>
                  </select>
                </td>
              </tr>
              <tr>
                <th>Operational Status
                  <span style='color:red;'> *</span>
                </th>
                <td>
                  <select class="form-control">
                    <option>Select</option>
                    <option *ngFor="let cat of downStreamLossData[0].OperationalStatus">{{cat.name}}</option>
                  </select>
                </td>
              </tr>
              <tr>
                <th>Assured & co-venturers
                  <span style='color:red;'> *</span>
                </th>
                <td>
                  <input id='assured' type="text" class="form-control" />
                </td>
              </tr>
              <tr>
                <th>Loss Location
                  <span style='color:red;'> *</span>
                </th>
                <td>
                  <input id='location' type="text" class="form-control" placeholder="Search Location" />
                </td>
              </tr>
              <tr>
                <th>Area
                  <span style='color:red;'> *</span>
                </th>
                <td>
                  <select class="form-control">
                    <option></option>
                    <option *ngFor="let cat of downStreamLossData[0].area">{{cat.name}}</option>
                  </select>
                </td>
              </tr>
              <tr>
                <th>Adjuster
                  <span style='color:red;'> *</span>
                </th>
                <td>
                  <input id='adjuster' type="text" class="form-control" />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr class="hidden-sm-down">
                <th>Month
                </th>
                <td>
                  <select class="form-control">
                    <option></option>
                    <option *ngFor="let cat of downStreamLossData[0].month">{{cat}}</option>
                  </select>
                </td>
              </tr>
              <tr>
                <th>Category 2
                  <span style='color:red;'> *</span>
                </th>
                <td>
                  <select class="form-control">
                    <option></option>
                    <option *ngFor="let cat of downStreamLossData[0].category2">{{cat.name}}</option>
                  </select>
                </td>
              </tr>
              <tr>
                <th>Number of days outage
                  <span style='color:red;'> *</span>
                </th>
                <td>
                  <input class="form-control" type="text">
                </td>
              </tr>
              <tr>
                <th>Loss Details
                  <span style='color:red;'> *</span>
                </th>
                <td>
                  <textarea rows="4" class="form-control" placeholder="Incl. Asset/Platform/MOPU/Rig AND Field Names"></textarea>
                </td>
              </tr>
              <tr>
                <th>Country
                  <span style='color:red;'> *</span>
                </th>
                <td>
                  <select class="form-control">
                    <option></option>
                    <option *ngFor="let cat of downStreamLossData[0].countries">{{cat.name}}</option>
                  </select>
                </td>
              </tr>
              <tr>
                <th>Loss Type
                  <span style='color:red;'> *</span>
                </th>
                <td>
                  <select class="form-control" multiple size="1">
                    <option>Business Interruption</option>
                    <option>OEE</option>
                  </select>
                </td>
              </tr>
              <tr>
                <th>Adj. File Ref
                  <span style='color:red;'> *</span>
                </th>
                <td>
                  <input id='location' type="text" class="form-control" />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr class="hidden-sm-down">
                <th width="35%">Year
                  <span style='color:red;'> *</span>
                </th>
                <td>
                  <select class="form-control">
                    <option></option>
                    <option *ngFor="let cat of downStreamLossData[0].year">{{cat}}</option>
                  </select>
                </td>
              </tr>
              <tr>
                <th width="45%">Category 3
                  <span style='color:red;'> *</span>
                </th>
                <td>
                  <select class="form-control">
                    <option></option>
                    <option *ngFor="let cat of downStreamLossData[0].category3">{{cat.name}}</option>
                  </select>
                </td>
              </tr>
              <tr class="hidden-sm-down" style="height: 250px;">
                <th></th>
                <td></td>
              </tr>
              <tr>
                <th>Cause
                  <span style='color:red;'> *</span>
                </th>
                <td>
                  <select class="form-control">
                    <option></option>
                    <option *ngFor="let cat of downStreamLossData[0].cause">{{cat.name}}</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="row">
      <div class="margin-top">
        <div class="col-md-4">
          <total-claim-calculator></total-claim-calculator>
        </div>
        <div class="col-md-8">
          <div class="card card-block bg-software-gray-1 card-height">
            <h4 class="card-title display-4">Product Information</h4>
            <p> Although this will not appear in the online commercial database, it is very helpful for us to identify the product
              (if applicable) that was involved in the process. Please be as descriptive as possible.</p>
            <textarea rows="12" class="form-control text-area-white"></textarea>
          </div>
        </div>
      </div>
      <div class="col-md-12 hidden-sm-down">
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <th width="7%"> Notes
                  <span style='color:red;'> *</span>
                </th>
                <td>
                  <textarea rows="4" class="form-control text-area-shift"></textarea>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-12 hidden-md-up terms-bottom-margin">
        <div>
          <label>Notes
            <span style="color: red">*</span>
          </label>
        </div>
        <div>
          <textarea rows="4" class="form-control"></textarea>
        </div>
      </div>
      <div class="col-md-12 terms-bottom-margin hidden-sm-down">
        <button class="btn btn-primary float-xs-right margin-set-left" (click)="onSubmit()">Submit</button>
        <button class="btn btn-secondary float-xs-right margin-set-right">Cancel</button>
      </div>
      <div class="col-md-12 terms-bottom-margin hidden-md-up">
        <button class="btn btn-primary btn-mob-width terms-bottom-margin" (click)="onSubmit()">Submit</button>
        <button class="btn btn-secondary btn-mob-width">Cancel</button>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-sm-12" style="display:none;">
    <button type="button" id='successButton' class="btn btn-primary" data-toggle="modal" data-target="#showConfirmationModal">Open Generate Modal</button>
  </div>
  <success-confirmation-modal></success-confirmation-modal>
</div>

<div id="downstreamLossData" *ngIf="readOnlyFlag">
  <div class="divClassNew hidden-md-up">
    <div class="col-md-12">
      <button class="btn btn-secondary btn-top-margin btn-mob-width" (click)="onBackToHistory()">Back to History</button>
    </div>
  </div>
  <div class="row divClassNew hidden-sm-down">
    <div class="col-md-12">
      <button class="btn btn-secondary float-xs-right btn-top-margin" (click)="onBackToHistory()">Back to History</button>
    </div>
  </div>

  <div class="position-padding">
    <div class="row">
      <div class="col-md-12">
        <div class="well-report well-border">
          <div class="row">
            <div class="col-md-4 col-sm-4 well-col">
              <h6 class="extra-padding-top">Submission ID</h6>
              <h3>12322</h3>
            </div>
            <div class="col-md-4 col-sm-4 well-col">
              <h6 class="extra-padding-top">Type of Loss Data</h6>
              <h3>Downstream</h3>
            </div>
            <div class="col-md-4 col-sm-4 well-col">
              <h6 class="extra-padding-top extra-adding-left">Status</h6>
              <span class="tag tag-pill tag-success">
                <h4>Approved</h4>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="div-border">
    <div class="margin-top">
      <div class="col-md-4">
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <th class="th-new">Loss Date: &nbsp; &nbsp; &nbsp;Day
                </th>
                <td class="td-new">
                  21
                </td>
              </tr>
              <tr class="hidden-md-up">
                <th class="th-new">Loss Month
                </th>
                <td class="td-new">
                  October
                </td>
              </tr>
              <tr class="hidden-md-up">
                <th class="th-new">Loss Year
                </th>
                <td class="td-new">
                  1995
                </td>
              </tr>
              <tr>
                <th class="th-new" width="50%">Category 1
                </th>
                <td class="td-new">
                  MOPU
                </td>
              </tr>
              <tr>
                <th class="th-new">Land / Offshore
                </th>
                <td class="td-new">
                  Land
                </td>
              </tr>
              <tr>
                <th class="th-new">Operational Status
                </th>
                <td class="td-new">
                  Drilling Maintenance
                </td>
              </tr>
              <tr>
                <th class="th-new">Assured & co-venturers
                </th>
                <td class="td-new">
                  Co-ventured
                </td>
              </tr>
              <tr>
                <th class="th-new">Loss Location
                </th>
                <td class="td-new">
                  Switzerland
                </td>
              </tr>
              <tr>
                <th class="th-new">Area
                </th>
                <td class="td-new">
                  Europe
                </td>
              </tr>
              <tr>
                <th class="th-new">Adjuster
                </th>
                <td class="td-new">
                  European League Coop.
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr class="hidden-sm-down">
                <th class="th-new">Month
                </th>
                <td class="td-new">
                  October
                </td>
              </tr>
              <tr>
                <th class="th-new" width="50%">Category 2
                </th>
                <td class="td-new">
                  Crane/Pipeline Barge
                </td>
              </tr>
              <tr>
                <th class="th-new">Number of days outage
                </th>
                <td class="td-new">
                  20 days
                </td>
              </tr>
              <tr>
                <th class="th-new">Loss Details
                </th>
                <td class="td-new">
                  Asset and Platform Damaged
                </td>
              </tr>
              <tr>
                <th class="th-new">Country
                </th>
                <td class="td-new">
                  Bern
                </td>
              </tr>
              <tr>
                <th class="th-new">Loss Type
                </th>
                <td class="td-new">
                  OEE
                </td>
              </tr>
              <tr>
                <th class="th-new">Adj. File Ref
                </th>
                <td class="td-new">
                  92323
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr class="hidden-sm-down">
                <th class="th-new">Year
                </th>
                <td class="td-new">
                  1995
                </td>
              </tr>
              <tr>
                <th class="th-new" width="50%">Category 3
                </th>
                <td class="td-new">
                  Cooling System
                </td>
              </tr>
              <!-- <tr class="hidden-sm-down" style="height: 175px;">
                <th class="th-new"></th>
                <td class="td-new"></td>
              </tr> -->
              <tr>
                <th class="th-new">Cause

                </th>
                <td class="td-new">
                  Anchor/Jacking
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="row">
      <div class="margin-top">
        <div class="col-md-4">
          <total-claim-calculator></total-claim-calculator>
        </div>
        <div class="col-md-8">
          <div class="card card-block bg-software-gray-1 card-height">
            <h4 class="card-title display-4">Product Information</h4>
            <textarea rows="12" class="form-control text-area-white">The main Cooling Machine has completely got destroyed.</textarea>
          </div>
        </div>
      </div>
      <div class="col-md-12 hidden-sm-down">
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <th width="7%"> Notes
                </th>
                <td class="td-new">
                  <textarea rows="4" class="form-control text-area-shift"></textarea>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-12 hidden-md-up terms-bottom-margin">
        <div>
          <label>Notes
          </label>
        </div>
        <div>
          <textarea rows="4" class="form-control"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>