<!--<div class="col-md-12">
    <h3 class='hidden-sm-down'>Client Information</h3>
    <h4 class='hidden-md-up'>Client Information</h4>
    <hr>
</div>-->
<div class="col-md-6 hidden-sm-down">
    <div class="table-responsive table-container">
        <table class="table">
            <tbody>
                <tr>
                    <th>Subscription Name</th>
                    <td>British Petroleum</td>
                </tr>
                <tr>
                    <th>Default Currency</th>
                    <td>Pound</td>
                </tr>
                <tr>
                    <th>Primary Region</th>
                    <td>United Kingdom</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>This section brief information</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="col-md-6 hidden-sm-down">
    <div class="table-responsive table-container">
        <table class="table">
            <tbody>
                <tr>
                    <th>Subscription Owner Username</th>
                    <td>John Davis</td>
                </tr>
                <tr>
                    <th>Subscription Owner Email</th>
                    <td>john.davis@wtw.com</td>
                </tr>
                <tr>
                    <th>Primary Party ID</th>
                    <td>BPL</td>
                </tr>
                <tr>
                    <th>Primary Party Name</th>
                    <td>British Petroleum Ltd</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="hidden-md-up margin-top">
    <div class="table-responsive">
        <table class="table">
            <tbody>
                <tr>
                    <th>Subscription Name</th>
                    <td>British Petroleum</td>
                </tr>
                <tr>
                    <th>Primary Region</th>
                    <td>United Kingdom</td>
                </tr>
                <tr>
                    <th>Subscription Owner Username</th>
                    <td>John Davis</td>
                </tr>
                <tr>
                    <th>Primary Party Id</th>
                    <td>BPL</td>
                </tr>
                <tr>
                    <th>Default Currency</th>
                    <td>Pound</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>This section brief information</td>
                </tr>
                <tr>
                    <th>Subscription Owner Email</th>
                    <td>john.davis@wtw.com</td>
                </tr>
                <tr>
                    <th>Primary Party Name</th>
                    <td>British Petroleum Ltd</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="col-md-12">
    <hr>
</div>
<div class="" style="margin-top:20px;">
    <button type="button" class="btn btn-primary pull-right hidden-sm-down" (click)='navigateToELInfo()' name="continueBtn">Continue</button>
    <button type="button" class="btn btn-primary btn-block hidden-md-up" (click)='navigateToELInfo()' name="continueBtn">Continue</button>
</div>