<div class="divClass row bg-software-gray-1 indexing-header">
  <div class="col-md-12 col-sm-12">
    <div class="p-1 hidden-sm-down">
      <h2 class="display-1 left-pad">
        Announcements</h2>
    </div>
    <div class="p-1 hidden-md-up">
      <h2 class="display-3 left-pad">
        Announcements</h2>
    </div>
  </div>
</div>
<div class="row divClassNew hidden-sm-down">
  <div class="col-md-4">
    <h4 class='display-3 announcement-top-margin'>Published Announcements</h4>
  </div>
  <div class="col-md-8">
    <button class="btn btn-primary float-xs-right btn-top-margin btn-mob-width" (click)="openCreateAnnouncementModal()">New Announcement</button>
  </div>
</div>
<div class="row divClassNew hidden-md-up">
  <div class="col-sm-12">
    <button class="btn btn-primary float-xs-right btn-top-margin btn-mob-width" (click)="openCreateAnnouncementModal()">New Announcement</button>
  </div>
</div>
<div class="row divClassNew hidden-md-up">
  <div class="col-sm-12">
    <h4 class='display-3 announcement-bottom-margin'>Published Announcements</h4>
  </div>
</div>

<div *ngIf="notificationMessage.successMessage">
  <div class="divClassNew">
    <div class="alert alert-success alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="notificationMessage.successMessage=''">
        <span aria-hidden="true">&times;</span>
      </button>
      <span class="alert-text hidden-sm-down">{{notificationMessage.successMessage}}</span>
      <span class="alert-text alert-text-mb hidden-md-up">{{notificationMessage.successMessage}}</span>
    </div>
  </div>
</div>

<div *ngIf="notificationMessage.errorMessage">
  <div class="divClassNew">
    <div class="alert alert-danger alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="notificationMessage.errorMessage=''">
        <span aria-hidden="true">&times;</span>
      </button>
      <span class="alert-text hidden-sm-down">{{notificationMessage.errorMessage}}</span>
      <span class="alert-text alert-text-mb hidden-md-up">{{notificationMessage.errorMessage}}</span>
    </div>
  </div>
</div>
<div class="divClassNew">
  <div class="announcement-border-docs">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="table-responsive table-striped">
          <table class="table">
            <tbody>
              <tr>
                <th (click)="sortByTitle()" class="pointer" width="18%">
                  <span>Title</span>
                  <span class="caret" *ngIf="!titleFlag"></span>
                  <span class="caret caret-reversed" *ngIf="titleFlag"></span>
                </th>
                <th width="50%">Description</th>
                <th (click)="sortByDate()" class="pointer" width="20%">
                  <span>Valid Until Date</span>
                  <span class="caret" *ngIf="!dateFlag"></span>
                  <span class="caret caret-reversed" *ngIf="dateFlag"></span>
                </th>
                <th width="5%"></th>
                <th width="5%"></th>
              </tr>
              <tr *ngFor="let announcement of announcementsData">
                <td>
                  <a class="a-link" (click)="onEdit(announcement)">{{announcement.Title}}</a>
                </td>
                <td>{{announcement.Description}}</td>
                <td>{{announcement.Date}}</td>
                <td>
                  <a (click)="onEdit(announcement)">
                    <img class='img-responsive' height="25px" src="./assets/images/icons8-edit.svg" alt="Edit">
                  </a>
                </td>
                <td>
                  <a (click)="onDelete(announcement)">
                    <img class='img-responsive' height="25px" src="./assets/images/icons8-trash.svg" alt="Delete">
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="divClass col-md-12 col-sm-12">
    <pager [allItems]="announcementsData"></pager>
  </div>
<div class="col-md-12 col-sm-12 btn-invisible">
  <button type="button" id='createAnnouncementModalBtn' class="btn btn-primary" data-toggle="modal" data-target="#createAnnouncementModal"
    data-backdrop="static" data-keyboard="false"></button>
  <button type="button" id='editAnnouncementModalBtn' class="btn btn-primary" data-toggle="modal" data-target="#editAnnouncementModal"
    data-backdrop="static" data-keyboard="false"></button>
</div>
<div class="col-md-12 col-sm-12" style="display:none;">
  <button type="button" id='deleteButton' class="btn btn-primary" data-toggle="modal" data-target="#showConfirmationModal">Open Generate Modal</button>
</div>
<create-announcement (onCloseEvent)='onClose()' (onSaveEvent)='onSuccess($event)' (onErrorEvent)='onError($event)'></create-announcement>
<edit-announcement (onCloseEvent)='onClose()' (onSaveEvent)='onSuccess($event)' (onErrorEvent)='onError($event)'></edit-announcement>
<confirmation-modal [confirmationModal]='confirmationModal' (onYesEvent)='onDeleted()'></confirmation-modal>
